body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::selection {
  color: white;
  background-color: rgb(75, 163, 163);
}

.flex-container {
  display: flex;
}

.open-form-btn-container {
  display: flex;
  justify-content: center;
}

.open-form-btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 9px;
  background-color: rgb(132, 201, 251);
  color: black;
  padding: 4px 6px;
  border: 2px solid rgb(49, 99, 180);
  cursor: pointer;
  transition: all 0.2s ease;
}

.open-form-btn:hover {
  background-color: #24509c;
  color: white;
}

.notes-message {
  font-size: 20px;
}

.no-notes-message {
  margin-left: -55px;
}

.main-page-container {
  display: flex;
  justify-content: space-around;
}

.notes-container {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  margin: 15px;
  margin-left: 15px;
  margin-right: 40vw;
}

.note-item {
  background-color: rgb(231, 244, 244);
  border: 2px solid rgb(171, 170, 170);
  width: 250px;
  height: 150px;
  transition: transform .2s;
  padding: 3px;
}

.note-item:hover {
  cursor: pointer;
  background-color: rgb(156, 216, 216);
  transform: scale(1.1);
}

.note-category {
  background-color:green;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  text-align: center;
}

.note-date {
  font-style: oblique;
}

.note-title {
  font-weight: 500;
  font-size: 20px;
}

.note-content {
  margin-top: 5px;
}

.note-dates {
  margin-top: 10px;
  background-color: rgb(184, 80, 80);
  color: white;
  font-weight: 500;
  border-radius: 3px;
  text-align: center;
}

.note-idea {
  background-color: #24509c;
}

.note-random-thought {
  background-color: #cd8c2a;
  padding-left: 0px;
  padding-right: 0px;
}

.note-active {
  border: solid #3e3e3e;
  background-color: rgb(156, 216, 216);
}

.preview-note-item {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-top: 25px;
  margin-left: 60vw;
  width: 35vw;
  background-color: rgb(218, 248, 248);
  border: 2px solid rgb(116, 156, 156);
  height: auto;
  margin-right: 20px;
}

.preview-point {
  font-weight: 500;
  font-size: 17px;
  background-color: rgb(156, 216, 216);
}

.delete-note-btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 9px;
  background-color: rgb(187, 16, 16);
  color: white;
  padding: 4px 6px;
  border: 2px solid rgb(107, 31, 31);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 3px;
}

.delete-note-btn:hover {
  background-color: #9c2424;
  color: white;
}

.edit-note-btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 9px;
  background-color: rgb(17, 153, 203);
  color: white;
  padding: 4px 6px;
  border: 2px solid rgb(29, 95, 117);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 3px;
}

.edit-note-btn:hover {
  background-color: rgb(21, 119, 154);
  color: white;
}

/* Create Note Form */
.create-note-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 248, 248);
  border: 2px solid rgb(116, 156, 156);
  margin-top: 150px;
  padding: 60px;
}

.create-note-form-elements {
  margin-bottom: 25px;
}
